{% extends 'base.html'%}
{% block main-content%}
{% load static %} 


<div class="container-fluid about my-5 ">
  <div class="row">
    <div class="col-12">
      <img src="{% static 'assets/images/contact.jpg' %}" alt="">
    </div>
  </div>
  <div class="row">  
      <div class="col-12 text-center">
        <div class="heading">
            <h1>CONTACT</h1>
            <div class="head-sub">
                <h1>CONTACT</h1>
            </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div class="con-box p-3">
            <table class="table table-borderless">
              <tr>
                <td valign="middle"><i class="fa-solid fa-location-dot"></i></td>
                <td>
                  <h2>Location</h2>
                  <p class="text-secondary">Patel Web Solution,Ahmdabad.</p>
                </td>
              </tr>
              <tr>
                <td valign="middle"><i class="fa-solid fa-phone"></i></td>
                <td>
                  <h2>MobileNo</h2>
                  <p class="text-secondary">8160458544</p>
                </td>
              </tr>
              <tr>
                <td valign="middle"><i class="fa-solid fa-envelope"></i></td>
                <td>
                  <h2>General Support</h2>
                  <p class="text-secondary">aayushidudhat@gmail.com</p>
                </td>
              </tr>
            </table>
            <div class="ratio ratio-16x9">
                 <iframe src="{% static 'assets/https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.2529839336667!2d72.64123027406788!3d23.05118497915367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e86eccd55b303%3A0xb182787932d2b4df!2sPatel%20Web%20Solution!5e0!3m2!1sen!2sin!4v1723251302546!5m2!1sen!2sin' %}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
  
        <div class="col-sm-12 col-md-7 col-lg-8">
          <div class="con-box p-3">
            <form>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-floating mb-3">
                  <input class="form-control" placeholder="" type="text" name="fname">
                  <label class="form-label">Full Name</label>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Number">
                <label for="floatingInput">Phone Number</label>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="yourEmail">
                <label for="floatingInput">Your Email</label>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-floating mb-3">
                <input type="name" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">Subject</label>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="mb-4">
                  <label class="form-label">Address</label>
                  <textarea rows="4" name="address" class="form-control"></textarea>
                </div>
              </div>
              <center><button class="btn"><a href="#" class="hvr-pulse-grow rounded">Send Message</a></button></center>
            </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  </div>

 

{% endblock main-content%}