{% extends "base.html" %}
{% block main-content %}
{% load static %}

<div class="container p-4 bg-white shadow rounded mt-5 mb-5" style="max-width: 350px;">
    <h2 class="text-center mb-3">Sign Up</h2>
    <form method="post" action="{% url 'createaccount' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Fullname:</label>
            <input type="text" id="full_name" class="form-control" name="full_name" placeholder="Choose a fullname" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="Enter your email" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Mobile Number:</label>
            <input type="text" id="mobile" class="form-control" name="phone_number" placeholder="Enter your mobile number" required>
        </div>
        <div id="signup-error" class="text-danger text-center mb-3"></div>


        <div class="mb-3">
            <label class="form-label">Password:</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Enter password" required>
        </div>


        <button type="submit" class="btn account w-100">Sign Up</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up Successful</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Congratulations! Your account has been created successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="redirectToLogin()">Go to Login</button>
            </div>
        </div>
    </div>
</div>


{% endblock main-content %}
