{% extends 'base.html'%}
{% block main-content%}
{% load static %}  
 
 
 <!------------ Our Product Start ------------>
<div class="p-4">
    <div class="container-fluid my-5">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="heading">
                <h1>LEMON PICKLES</h1>
                <div class="head-sub">
                    <h1>LEMON PICKLES</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        {% for i in lemon_is %}
            <div class="col-12 col-md-6 col-lg-4 hvr-float"> 
                <div class="card p-2 text-center">
                    <img src="{{ i.image.url }}" class="w-100 wid i-image">
                    <div class="dropdown mt-3">
                        <h4 class="i-name">{{ i.name }}</h4>
                        <h4>| {{ i.description }}</h4>
                        <button class="btn btn-light dropdown-toggle box" type="button" data-bs-toggle="dropdown">
                            <span class="selected-price" data-price="{{ i.price_250g }}" data-size="250g">250g - Rs {{ i.price_250g }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item size-option" href="#" data-price="{{ i.price_250g }}" data-size="250g">250g - Rs {{ i.price_250g }}</a></li>
                            <li><a class="dropdown-item size-option" href="#" data-price="{{ i.price_500g }}" data-size="500g">500g - Rs {{ i.price_500g }}</a></li>
                            <li><a class="dropdown-item size-option" href="#" data-price="{{ i.price_1kg }}" data-size="1Kg">1Kg - Rs {{ i.price_1kg }}</a></li>
                        </ul>
                        <button class="cart-btn add-to-cart hvr-glow cart">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% empty %}
                <p class="text-center mt-5 mb-5 container-1"><strong class="text-danger">No  Lemon </strong> <strong>products available. &#128532;</strong></p>
            {% endfor %}
        </div>
    </div>
  </div>
  <!------------ Our Product End ------------>


  

{% endblock main-content%}