{% extends 'base.html'%}
{% block main-content%}
{% load static %} 

<!------------ Our Product Start ------------>
<div class="p-4">
    <div class="container-fluid my-5">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="heading">
                <h1>PANJABI PICKLES</h1>
                <div class="head-sub">
                    <h1>PANJABI PICKLES</h1>
                </div>
            </div>
        </div>
    </div>
      <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-4 hvr-float"> 
          <div class="card p-2 text-center">
              <img src="images/h1.jpeg" class="w-100 wid product-image">
              <div class="dropdown mt-3">
                  <h4 class="product-name">Homemade Mango Pickle</h4>
                  <h4>| Aam ka Achar</h4>
                  <button class="btn btn-light dropdown-toggle box" type="button" data-bs-toggle="dropdown">
                      <span class="selected-price" data-price="299" data-size="250g">250g - Rs 299</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item size-option" href="#" data-price="299" data-size="250g">250g - Rs 299</a></li>
                      <li><a class="dropdown-item size-option" href="#" data-price="599" data-size="500g">500g - Rs 599</a></li>
                      <li><a class="dropdown-item size-option" href="#" data-price="999" data-size="1Kg">1Kg - Rs 999</a></li>
                  </ul>
                  <button class="cart-btn add-to-cart hvr-glow cart">Add to Cart</button>
              </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 hvr-float"> 
          <div class="card p-2 text-center">
              <img src="images/h1.jpeg" class="w-100 wid product-image">
              <div class="dropdown mt-3">
                  <h4 class="product-name">Mango Pickle</h4>
                  <h4>| Aam ka Achar</h4>
                  <button class="btn btn-light dropdown-toggle box" type="button" data-bs-toggle="dropdown">
                      <span class="selected-price" data-price="299" data-size="250g">250g - Rs 299</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item size-option" href="#" data-price="299" data-size="250g">250g - Rs 299</a></li>
                      <li><a class="dropdown-item size-option" href="#" data-price="599" data-size="500g">500g - Rs 599</a></li>
                      <li><a class="dropdown-item size-option" href="#" data-price="999" data-size="1Kg">1Kg - Rs 999</a></li>
                  </ul>
                  <button class="cart-btn add-to-cart hvr-glow cart">Add to Cart</button>
              </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 hvr-float"> 
          <div class="card p-2 text-center">
              <img src="images/h1.jpeg" class="w-100 wid product-image">
              <div class="dropdown mt-3">
                  <h4 class="product-name">Homemade Pickle</h4>
                  <h4>| Aam ka Achar</h4>
                  <button class="btn btn-light dropdown-toggle box" type="button" data-bs-toggle="dropdown">
                      <span class="selected-price" data-price="299" data-size="250g">250g - Rs 299</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item size-option" href="#" data-price="299" data-size="250g">250g - Rs 299</a></li>
                      <li><a class="dropdown-item size-option" href="#" data-price="599" data-size="500g">500g - Rs 599</a></li>
                      <li><a class="dropdown-item size-option" href="#" data-price="999" data-size="1Kg">1Kg - Rs 999</a></li>
                  </ul>
                  <button class="cart-btn add-to-cart hvr-glow cart">Add to Cart</button>
              </div>
          </div>
        </div>
     </div>
    </div>
  </div>
  <!------------ Our Product End ------------>


  {% endblock main-content%}