{% extends 'base.html'%}
{% block main-content%}
{% load static %} 

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
        <div class="heading">
            <h1>Recipes</h1>
            <div class="head-sub">
                <h1>Recipes</h1>
            </div>
        </div>
    </div>
</div>

<img src="{% static 'assets/images/s3.webp' %}" class="w-100">
<P>Mango pickle is not just tasty – it can also help your skin glow when eaten in moderation. This traditional Indian food is made using raw mangoes, mustard seeds, oil, salt, and spices like turmeric, all of which offer health benefits.

    Raw mango is rich in Vitamin C, which helps in boosting collagen. Collagen is a protein that keeps your skin firm, smooth, and glowing. Turmeric, a common spice in pickle, is known for its anti-inflammatory and antibacterial properties. It helps reduce acne and soothes the skin from inside out.
    
    Mustard seeds and mustard oil are packed with antioxidants and healthy fats. These help flush out toxins from the body and keep your skin moisturized and soft. Pickle also improves digestion because of natural fermentation and spices. A healthy stomach means fewer skin issues like pimples and dullness.
    
    However, it’s important to eat mango pickle in small amounts. It has salt and oil, which can be too much if overeaten. A spoonful a day with meals can be enough to enjoy its benefits.
    
    So, enjoy your mango pickle – it adds flavor to your food and glow to your skin, naturally!</p>
</div>


{% endblock main-content%}