@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--clr-darkpurple: #c59fee;
	--clr-darkpink: #dfa0cc;
	--clr-purple: #cfb4ec;
	--clr-pink: #ecbede;
}

.darkpurple{
	color: var(--clr-darkpurple);
}
.darkpink{
	color: var(--clr-darkpink);
}
.purple{
	color: var(--clr-purple);
}
.pink{
	color: var(--clr-pink);
}
body{
	font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6{
	font-family: Roboto;
}

.mymenu a{
	font-family: "Roboto";
}

.mymenu img{
	width: 100px;
}

.mymenu{
	box-shadow: 0px 1px 7px #000;
    padding: 0px;
    margin-bottom: 3px;
}

.mymenu .mynav>ul>li{
	margin-left: 10px;
	margin-bottom: 5px;
}

.mymenu .mynav>ul>li>a{
	background-color: var(--clr-purple);
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 10px 30px!important;
}

.mymenu .mynav>ul>li>a:hover{
	background-color: var(--clr-pink);
	color: #fff;
	text-align: center;
	border-radius: 10px;
}

.mymenu .mynav>ul>li>a.active{
	background-color: var(--clr-pink);
	color: #fff;
		
}

.my-carousel .carousel-caption{
	background-color: #cfb4ec75;
	border-radius: 20px;
	padding: 20px 0px;
	color: black;
}

.my-carousel .carousel-indicators button{
	background-color: #000;
}

.my-carousel .carousel-control-prev-icon{
	background-color: #cfb4ec75;
	padding: 20px;
	border-radius: 10px;
}

.my-carousel .carousel-control-next-icon{
	background-color:  #cfb4ec75;
	padding: 20px;
	border-radius: 10px;
}

.light{
	background-color: #e8eaec;
}

.light li{
	line-height: 30px;
}

.light i{
	color: var(--clr-darkpink);
}

.about li{
    line-height: 30px;
}

.about .ih-item{
	width: 290px!important;
	margin: 0 auto;
}
.heading{
	margin: 0 auto;
	text-align: center;
}

.heading .sh{
	color: #dfa0cced;
	text-align: center !important;
}


.heading .sub-head h1 {
    opacity: 0.2;
    font-size: 50px;
}

.my .item{
	height: 300px;
}

.sub-head{
	left: 0;
	right: 0;
	top: -35px;
}

.service i{
	font-size: 25px;
}

.protfolio .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: var(--clr-purple)!important;
}

.protfolio .nav-link{
	color: var(--clr-darkpurple);
}

.testimonial .text-dec img{
	width: 50px!important;
}

.text-dec h4{
	font-style: 20px;
	margin-bottom: 2px;
}

.text-dec h5{
	font-size: 14px;
}

.text-dec{
	bottom: -80px;
	left: 30px;
}

.full{
	background-color: var(--clr-darkpink);
	text-align: center;
}
.full button a{
	background-color: #7a6595!important;
	color: #000;
	text-decoration: none;
	padding: 10px;
}
/*.full button a:hover{
	cursor: pointer;
	background-color: black;
	color: #fff;
}
*/
.aa ul li a i{
	font-size: 22px;
}

.con-box{
	background-color: #e8eaec;
	border-top: 4px solid var(--clr-darkpink);
	border-bottom: 4px solid var(--clr-darkpink);
}

.con-box .table>:not(caption)>*>*{
	background-color: #e8eaec!important;
}

.con-box button a{
	background-color: var(--clr-darkpink);
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.con-box button a:hover{
	background-color: var(--clr-darkpurple);
	color: #fff;
}

.footer img{
	width: 90px;
}

.footer .bb{
	background-color: var(--clr-darkpink);
	color: #fff;
}

.footer .bb:hover{
	background-color: var(--clr-darkpurple);
	color: #fff;
}

.footer i{
	background-color: #fff;
	padding: 8px;
	font-size: 22px;
}

